{% extends 'core/base.html' %}

{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
<!-- <h1>{{ post.title }}</h1> -->
<div class="post-view-main-container">
    <div class="view-post-category-tag">
        <p class=""><strong>Posted on </strong><u><span class="post-view-date">{{ post.created_at|date:'M d, Y' }} at {{ post.created_at|date:'g:i A' }}</span></u></p>
        <p class="post-category-tag"><strong>Travel</strong></p>
    </div>
    <div class="post-img"></div>
    <div class="post-view-content-container">
        <h2 class="">{{ post.title }}</h2>
        <p class="post-view-intro">{{ post.intro }} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
        <p class="post-view-content">{{ post.body }}</p>
        <hr>
    </div>
    <div class="comment-section-container">
            <div class="comsec-fields-container">
                    <form method="POST" class="comment-form">
                        <p class="comment-header">Join the conversation!</p>
                        <p class="comment-sub-header">Become part of the discussion by entering your name, email, and your comment below.</p>
                        <hr>
                        <br>
                        {% csrf_token %}
                        <div class="field-group">
                            <label for="id_name">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="field-group">
                            <label for="id_email">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="field-group">
                            <label for="id_body">Comment</label>
                            {{ form.body }}
                        </div>
                        <button class="submit-btn">Submit comment</button>
                    </form>
                <div class="comsec-art">
                    <img src="../../static/assets/conversation.png" />
                </div>
            </div>
    </div>
        <!-- <div class="child-content"> -->
            
            <!-- <h2 class="date-style">{{ post.created_at|timesince }} ago</h2> -->
                <!-- <h2 class="date-style">{{ post.created_at|date:'M d, Y' }} at {{ post.created_at|date:'g:i A' }}</h2>
                <h1 class="blogs-title">{{ post.title }}</h1>
                <p class="blogs-intro"><strong>{{ post.intro }}</strong></p>
                <p>{{ post.body }}</p>
                <p><small>Blog Category: {{ post.category }}</small></p>

                <hr>
                <h2 class="">Comments</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="">
                        <div>
                            <button>Submit comment</button>
                        </div>
                    </div>

                </form>

                {% for comment in post.comments.all %}
                    <article class="">
                        <div class="">
                            <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|date:'g:i A'}}</small><br>
                            {{ comment.body }}
                        </div>
                    </article>
                {% endfor %} -->
        <!-- </div> -->
</div>
{% endblock %}  