{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Home | {% endblock %}  Crash Blog</title>
</head>
<body>
    <div class="navbar-container">
        <nav id="navbar">
            <img src="../../static/assets/alltopia_logo_nobg.png" class="logo" alt="AllTopia Logo"/>
            <!-- <h2 class="logo">
                AllTopia
            </h2> -->
            <div class="search-container">
                <span class="icon is-left">
                    <i class="fa fa-search" style="color: #CB3737;"></i>
                </span>
                <form method="get" action="{% url 'search' %}" class="search-form">
                    <input class="search-menu" name="query" type="text" placeholder="Search">
                </form>
            </div>
            <ul>
                <li class="nav-texts"><a class="nav-option" href="{% url 'about' %}"> <span class="text-hover-effect"><b>About</b></span></a></li>
                <li class="nav-texts"><a class="nav-option" href="/"> <b>Home</b> </a></li>
                <li>
                </li>
            </ul>
        </nav>
    </div>
    <section class="blogs-list" id="blogs">
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <div class="footer-main-container">
            <div class="footer-contents">
                <p>Copyright (c) 2024 - AllTopia.</p>
            </div>
        </div>
    </footer>
</body>
</html>

<!-- http://127.0.0.1:8000/ -->