@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    scroll-behavior: smooth;
    background-color: var(--light-text-color);
}

* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--default-text-color);
}

:root {
    --default-text-color: black;
    --page-theme-color: #EE6F57;
    --page-theme-color-darker: #CB3737;
    --light-text-color: #FAFAFA;
}

.logo {
    width: 100px;
    height:auto;
}

.logo-text-style{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #820000;
    color: white;
}

.search-container{
    border-style: solid;
    border-color: var(--page-theme-color-darker);
    border-width: 2px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
}

.search-menu{
    margin-left: 15px;
    width: 100%;  
    border-style: hidden;
    background-color: var(--light-text-color);
}

.search-menu:focus{
    outline: none;
}

.navbar-container {
    background-color: var(--light-text-color);
    margin: auto;
    height: 90px;
    width: 80%;
    justify-content: center;
    /* border-style: solid;
    border-width: 0 0 5px 0;
    border-color: #820000; */
    position:sticky;
    top: 0;
    display: block;
}

nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px 0 50px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

    ul li {
        list-style: none;
    }

li {
    float: left;
}

.nav-option{
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

    li a {
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        color: var(--default-text-color)
    }

li a:hover{
    color: var(--page-theme-color);
    transition: color 0.3s ease-in-out;
}
.header-title{
    background-image: url('../assets/blurry_background_header.png');
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(238, 111, 87, 0.1);
    width: 75%;
    margin: 20px auto 10px auto;
    padding: 0px 10px 0px 10px;
}

.header-title h2{
    font-size: 3.0rem;
    color: var(--page-theme-color-darker);
    font-weight: 600;
}

.blog-categories{
    display: flex;
    width: 75%;
    margin: 30px auto 30px auto;
    padding: 0px 10px 0px 10px;
    align-items: center;
    /* font-size: 1.3rem;
    font-weight: 500; */
}

.blog-category{
    margin-right: 30px;
    color: black;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: var(--light-text-color);
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.blog-category:hover{
    margin-right: 30px;
    color: var(--page-theme-color);
    cursor: pointer;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: var(--page-theme-color);
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.cat-active{
    font-size: 1.3rem;
    font-weight: 500;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: var(--page-theme-color);
    color: var(--page-theme-color);
}

.latest-post-tag{
    margin: 30px auto 0px auto;
    width: 75%;
    font-weight: 700;
}

.latest-post-container{
    display: flex;
    justify-content: space-between;
    margin: 10px auto 30px auto;
    width: 75%;
    height: 470px;
}

.latest-large{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.latest-large h3{
    /* margin-top: px; */
    font-size: 2.0rem;
    font-weight: 500;
}

.latest-large p{
    font-size: 0.9rem;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.latest-small{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.latest-l-img{
    background-image: url('../assets/blog-image-test-large.jpg');
    background-size:auto;
    background-position: center; 
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.latest-s-img{
    background-image: url('../assets/blog-image-test-small.jpg');
    background-size:cover;
    background-position: center; 
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.latest-small h3{
    /* margin-top: px; */
    font-size: 2.0rem;
    font-weight: 500;
}

.latest-small p{
    font-size: 0.9rem;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-info-row{
    display: flex;
    justify-content: space-between;
    /* padding-right: 20px; */
    align-items: center;
}

.post-category-tag{
    padding: 5px 10px 5px 10px;
    background-color: var(--page-theme-color-darker);
    color: var(--light-text-color);
    border-radius: 10px;
}

.main-parent-flex-container{
    /* align-content: space-evenly;
    align-items: baseline; */
    /* display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap; */
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 400px); /* Three equal columns */
    row-gap: 80px; /* Gap between grid items */
    justify-content: space-between;
}

.child-content{
    justify-self: center;
    width: 80%;
    height: 100%;
    /* background-color: #F6F1F1; */
    /* border-style: solid;
    border-width: 5px 0 5px 0; */
    border-radius: 10px;
    /* border-color: #4E6C50; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2); */
    padding: 20px;
    margin-top: 40px;
    margin-left: 0px;
    overflow: hidden;
}

.blogs-title{
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: overflow 0.3s ease-in-out;
}

.blogs-intro{
    margin-top: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: text-overflow 0.3s overflow 0.3s ease-in-out;
}

.child-content:hover .blogs-title{
    overflow: visible;
    text-overflow: unset;
    white-space:normal;
    transition: text-overflow 0.3s overflow 0.3s ease-in-out;
}

.child-content:hover .blogs-intro{
    overflow: visible;
    text-overflow: unset;
    white-space:normal;
}

.view-post-category-tag{
    display: flex;
    justify-content: center;

    align-self: flex-end;
    width: 8%;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    /* background-color: var(--page-theme-color-darker);
    color: var(--light-text-color); */
    border-style: solid;
    border-width: 0 0 2px 0;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-right: 10px;;
}

.post-view-main-container{
    display: flex;
    flex-direction: column;
    margin: 50px auto auto auto;
    width: 75%;
    padding: 10px;
    /* background-color: beige; */
}

.post-img{
    background-image: url('../assets/blog-image-test-large.jpg');
    background-size:cover;
    background-position: center; 
    width: auto;
    height: 55vh;
    border-radius: 10px;
}

.about-parent-flex-container{
    display: flex;
}

.footer-main-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: var(--page-theme-color);
}

.footer-contents p{
    color: var(--light-text-color);   
}

hr{
    width: 75%;
    margin: auto;
}